.project1{
    padding-top: 1%;
    padding-left: 83px;
}
.title{
  font-size: 47px;
  font-family: 'Coolvetica';
  color: #ffd700;
}
.card {
    margin: 5px;
    border-radius: 23px;
    float: left;
    width: 215px;
    box-shadow: 1px color red;
    padding: 24px;
    text-align: center;
    background-color: black;
  
}
.spotify{
    width: 180px;
    height: 87px;
    padding: 3px;
}

.button{
    width: 76px;
    padding: 9px;
    border: 1;
    background: yellow;
    height: 35px;
    color: black;
    border-radius: 12px;
    
}

 