.skill-zone{
  position: absolute;
  font-size: 75px;
  left: 10%;
  top: 40%;
  transform: translateY(-50%);
  width: 85;
  max-height: 90%;
  text-align: center;
  animation: fadeIn 1s 1.7s backwards;
  
}
.skills{
  font-size: 50px;
  font-family: 'Coolvetica';
  color: #ffd700;
  text-align: start;
  
}
    

